
h2{
    margin-top: 50px;
    
}

.banner {
    width: 100%;
    height:800px;
    overflow: hidden;
    position: relative;
  }
  
  .banner-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center; /* ensures center of image is shown */
  }

  /* Gradient to darken bottom of the image */
 .image-gradient {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(0,0,0,0) 30%, rgba(0,0,0,0.9) 100%);
    z-index: 1;
  }

  
.image-overlay {
    position: absolute;
    top: 50%; 
    margin-left: 5%;
    transform: translateY(-50%); 
    text-align: left;
    color: white;
    z-index: 2;
    
  }
  
  .image-overlay h1 {
    margin-bottom: 0px;
    font-size: 4rem;
    
  }
  
  .image-overlay p {
    font-size: 1.3rem;
    margin-bottom: 15px;
    text-shadow: 1px 1px 4px rgba(0,0,0,0.6);
    max-width: 400px;
  }
  
  .image-overlay button {
    background-color: #139D90;
    color: white;
    border: none;
    padding: 10px 24px;
    font-size: 1rem;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    
  }
  
  .image-overlay button:hover {
    background-color: #0d786d;
  }

  .about-us-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 200px;
    gap: 40px;
  }
  
  .about-us-block {
    flex: 1;
    padding-right: 50px;
  }

  .about-us-block h2{
    margin-top:20px;
  }
  
  .about-us-image {
    flex: 1;
    display: flex;
    justify-content: center;
    margin-left: 30px;
  }
  
  .about-us-image img {
    max-width: 100%;
    height: auto;
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  }

  .about-us-block button {
    background-color: #139D90;
    color: white;
    font-size: 16px;
    border: none;
    padding: 15px 12px;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 10px;
  }
  
  .about-us-block button:hover {
    background-color: #0f7e75;
  }
  

  .ongoing-projects-container h2{
    margin-left: 5%;
    margin-bottom: 20px;
  }

  .completed-projects-container{
    margin-top: 150px;
    margin-left: 5%;
    margin-right: 5%;
  }

  .our-partners-container h2{
    margin-left: 5%;
  }

  .scroll-fade {
    opacity: 0;
    transform: translateY(30px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
  }
  
  .scroll-fade.visible {
    opacity: 1;
    transform: translateY(0);
  }
  