.slider-card {
  position: relative;
  height: 400px;
  background-size: cover;
  background-position: center;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(238, 222, 222, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
}

.slider-overlay {
  background-color: rgba(0, 0, 0, 0.5); /* dark overlay */
  color: white;
  padding: 20px;
  border-radius: 12px;
  text-align: center;
  min-width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.slider-overlay h3 {
  font-size: 24px;
  margin-bottom: 20px;
  padding-top: 50px;
}

.slider-overlay button {
  background-color: #139D90;
  color: white;
  font-size: 16px;
  border: none;
  padding: 12px 24px;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 10px;
  height: fit-content;
  width: 50%;
}

.slider-overlay button:hover {
  background-color: #0f7e75;
}

.slider-wrapper {
  padding: 0 15px;
  box-sizing: border-box;
  overflow: hidden; /* prevents children from sticking out */
}
